{{!-- The footer at the very bottom of the screen --}}
<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <nav class="site-footer-nav">
            <a href="{{@blog.url}}">Latest Posts</a>
            {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank">Facebook</a>{{/if}}
            {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank">Twitter</a>{{/if}}
            <a href="" class="github-link hidden" title="GitHub" target="_blank">GitHub</i></a>
            <a href="" class="linkedin-link hidden" title="LinkedIn" target="_blank">LinkedIn</a>
        </nav>
    </div>
</footer>

{{#contentFor "scripts"}}
<script>
    (function() {
        if (typeof socialMedia !== 'undefined') {
            if (typeof socialMedia.linkedin !== 'undefined') {
                $('.linkedin-link').attr('href', socialMedia.linkedin);
                $('.linkedin-link').removeClass('hidden');
            }
            if (typeof socialMedia.github !== 'undefined') {
                $('.github-link').attr('href', socialMedia.github);
                $('.github-link').removeClass('hidden');
            }
        }
    })();
</script>
{{/contentFor}}
