{{!-- The footer at the very bottom of the screen --}}
<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <nav class="site-footer-nav">
            <a href="{{@blog.url}}">Home</a>
            <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" class="rss-button" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
            {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" class="rss-button" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>{{/if}}
            {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" class="rss-button" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>{{/if}}
        </nav>
    </div>
</footer>

{{#contentFor "scripts"}}
<script>
    (function() {
        if (typeof socialMedia !== 'undefined') {
            if (typeof socialMedia.github !== 'undefined') {
                $('.site-footer-nav').append(`<a href="${socialMedia.github}" class="rss-button" title="GitHub" target="_blank" rel="noopener">{{> "icons/github"}}</a>`);
            }
            if (typeof socialMedia.linkedin !== 'undefined') {
                $('.site-footer-nav').append(`<a href="${socialMedia.linkedin}" class="rss-button" title="LinkedIn" target="_blank" rel="noopener">{{> "icons/linkedin-footer"}}</a>`);
            }
        }
    })();
</script>
{{/contentFor}}
