<article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
        </a>
    {{/if}}
    <div class="post-card-content">
        <a class="post-card-content-link" href="{{url}}">
            <header class="post-card-header">
                <div class="post-card-tags">
                    {{#if primary_tag}}
                        <span>{{primary_tag.name}}</span>
                    {{/if}}
                    <span>{{> read-time}}</span>
                </div>
                <h2 class="post-card-title">{{title}}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
            <section class="post-full-content" style="display: none;">
                {{content}}
            </section>
        </a>
    </div>
</article>
